#video{
  width: calc(100vw - 110px);
  height: calc(100vh - 200px);
  object-fit:fill;
  border-radius: .5rem;
 
}


.cordi{
  height: 200px !important;
   box-shadow: none !important;
    font-size: 100px !important;
}


.overlayText {
  position: absolute;
  top: 70%;
  left: 15%;
  z-index: 1;
}

@media only screen and (max-width: 770px) {
  #video {
    width: calc(100vw - 35px);
  }

  .service {
    position: absolute;
    top: 20px !important;
    
  }

  .cordi{
    font-size: 1rem !important;
    height: 60px !important;
  }

  .overlayText {
  position: absolute;
  top: 70%;
  left: 10%;
  z-index: 1;
}
}


@media only screen and (max-height: 800px) {
 .overlayText {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 1;
}
}


.accordion-button:not(.collapsed){
  background-color: #6c757d !important;
  color: white !important;
}







































.text-marquee {
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.text-single {
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  will-change: transform;
}

.text {
  padding: 0;
  display: inline-block;
 
}

