a:hover{
    background-color: white;
    color: black !important;
    font-family: "Roboto", sans-serif;
    
    

}

a{
    font-family: "Roboto Condensed", sans-serif !important;
    font-weight: 400 !important;
}

h1{
    font-family: "Roboto", sans-serif;
   font-weight: 500 !important;
}


video {
  width: 100%;
  height: auto;
}


p{
    font-size: 20px;
}

.modal {
    display: none;
}


.nav-tabs{
    border: none !important;
}

.btn-nav {
    color: rgb(128, 128, 128) !important;
    font-family: "Roboto", sans-serif;
}


.btn-nav.active {
    color: white !important;
    background-color: black !important;
    font-family: "Roboto", sans-serif;
}

.btn-nav:hover{
     background-color: white !important;
    color: black !important;
    
}




@media only screen and (max-width: 992px) {
    body{
        margin: 5px !important;
    }
    p{
        font-size: 16px !important;
    }
    #nav_list_1 {
    display: none !important;
  }


  
  

  
}



.carousel-control-next, .carousel-control-prev{
    position: relative !important;
    display: inline !important;
    background-color: rgb(46, 46, 46) !important;
    border-radius: 20px !important;
    width: 50px !important;
    height: 50px !important;
    bottom: 50px !important;
    left: 50px !important;
    margin-bottom: 10px !important;

}